*~
gh-pages

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
local/
dist/
.eggs/
*.egg-info/
.installed.cfg
*.egg
